p#unico {

    background : red;
}

.gato {

    background: blue;
}

body {
    background: green;

}

/*----------*/

header{
    border: 1px solid red;

    padding: 60px;
}

h1{
    border: 1px solid green;
    height: 60px;
}